:root {
    --body-background-color: white;
    --body-text-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: black;
        --body-text-color: white;
    }
}

body {
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    margin: 0;
}
iframe{
    height: 200px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}

.actually-light-theme {

    --body-background-color: white;
    --body-text-color: black;
}