html, body, ::after, ::before {
    padding: 0;
    margin: 0;
    font-size: 16px;
    border: 0;
}
body {
    height: 100vh;
}

.button {
    border: 0;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 3px;
    background: linear-gradient( rgb(255, 98, 0) 45%, rgb(205, 55, 55) 65%, rgb(255, 98, 0) 100%);
    color: white;
    text-shadow: 1px 0px 2px black;
}
.button:hover{
    background: red;
}
.button:active {
    background: rgb(253, 158, 5);
}


#log{
    background-color: black;    
    color: white;
    height: 100vh;
}
#log-panel {
    background-color: black;
    height: fit-content;
    max-height: 15vh;
    border-radius: 10px;

}
.io {
    height: 85vh;
    position: relative;
}

#console-output {
    margin-top: 2px;
    height: 80%;
    overflow-y: scroll;
    margin-bottom: 5px;
    text-wrap: nowrap;
}

#console-input {
    background-color: black;    
    border: none;
    color: white;
    height: 10%;
    width: 95%;
    position: absolute;
    bottom: 0;
    margin-left: 3px;
    resize: none;
    

}
#console-input:focus {
    outline: 0;
}


#console-output p {
    margin: 6px;
}